body{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

 
    background-size: cover;
    background-attachment: fixed;
}


.board{
   
    margin: auto;
    margin-top: 8%;
    
}
.item{
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    border: 2pt solid black;
    border-radius: 2rem;
    margin: auto;
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 5px 5px black;

}
.title{
    
    padding-top: 3%;
    width: 100%;
    text-align: center;

}
.quest{
    
    font-size: 2rem;
    text-align: center;
}




.winner{
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    border: 2pt solid black;
    box-shadow: 7px 5px 5px black;
    border-radius: 2rem;
    width: 20rem;
    height: 4rem;

    position: absolute;
    margin-top: 1%;
    margin-left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

